*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*mobile first*/
#hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../multimedia/images/local.png) top center;
    background-size: cover;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  #hero .hero-logo {
    margin: 20px;
  }
  
  #hero .hero-logo img {
    max-width: 100%;
  }
  
  #hero .hero-container {
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
  
  #hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    font-size: 50px;
    color: #fff;
    font-family: 'Abril Fatface';
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #hero h2 {
    color: #ccc;
    margin-bottom: 50px;
  }
  
  #hero h2 span {
    color: #fff;
    transition: 0.3s;
    border-bottom: 2px solid #03C4EB;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 30px;
    }
  
    #hero h2 .rotating {
      display: block;
    }
  }
  
  #hero .rotating>.animated {
    display: inline-block;
  }
  
  #hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
  }
  
  #hero .btn-conocenos {
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-conocenos:hover {
    background: grey;
    border: 2px solid #fff;
    color: #fff;
  }
  #hero .btn-home {
    background: grey;
    border: 2px solid grey;
    color: #fff;
  }
  
  #hero .btn-home:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-productos {
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-productos:hover {
    background: grey;
    border: 2px solid #fff;
  }
  

/*Ajusto tamaño, colores, posiciones*/

h2{
    text-align: center;
}

header{
    text-align: center;
    font-size: 20px;
    border: 5px black solid;
    display: grid;
    justify-content: center;
    grid-area: header;
    background-color: black;
}
main{
    background-color: lightgray;
    grid-area: main;
}
.titulo{
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 50px;
    border: 5px black solid;
    animation-duration: 2s;
    animation-name: aparecer;
     }
     
     
     @keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }
     
.title{
    text-align: center;
    font-size: 50px;
    border: 5px black solid;
    color: white;
}

.cartel{
    width: 100%;
    display: grid;
    justify-content: center;
}

p {
    font-size: 30px;
    color: black;
    border: 5px black solid;
    text-align: center;
    margin-bottom: 1px;
}

footer{
    background-color: grey;
    font-size: 30px;
    grid-area: footer;
    text-align: center;
    background-image: linear-gradient(lightgray, black);
    color: white;
 }

 .redes {
    border: 5px white solid;
 }

 #pie .btn-contacto {
    border: 2px solid #fff;
    color: #fff;
  }
  
  #pie .btn-contacto:hover {
    background: grey;
    border: 2px solid #fff;
    color: #fff;
  }
 

 .formulario{
     padding-left: 10px;
     font-size: 20px;
     text-align: justify;
 }

/*Aplico grid*/

.grillaGeneral {
    grid-template-columns: repeat(2, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "footer footer"
;
}

.grillaCarrito {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
;
}
.grillaProductos {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "header header header"
;
}
.grillaNosotros {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
;
}
.grillaContacto {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
;
}
/* lo adapto a los tamaños*/

@media screen and (max-width: 500px){

    .grillaGeneral {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header"
        "titulo titulo"
        "main  main"
        "footer footer"
        ;
    }
    
}
.cartel{
    justify-content: center;
}



@media screen and (max-width: 500px){

    .grillaGeneral {
        display: grid;
        margin-bottom: 1,5em;
        grid-template-columns: 3fr;
        gap: 2px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer"
        ;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.producto {
  width: 340px;
  background-color: #d9d9d9;
  padding: 1.25rem;
  border: 2px solid #a6a6a6;
  border-radius: 0.25rem;
  margin: 1rem auto;
}
.producto__img {
  width: 100%;
}
.producto__img img {
  width: 100%;
  margin: auto;
}
.producto__info {
  padding: 1.25rem;
}
.producto__info h3 {
  font-family: "Alfa Slab One", cursive;
  color: #222126;
  margin-bottom: 1rem;
}
.producto__info p {
  font-family: "Poppins", sans-serif;
  color: black;
}
.producto__button button {
  display: block;
  padding: 0.25rem 1rem;
  font-size: 1.2rem;
  margin: auto;
  border: none;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
}

.tienda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 690px) {
  .tienda {
    flex-flow: wrap;
  }
}
@media screen and (min-width: 1080px) {
  .tienda {
    flex-flow: wrap-reverse;
  }
}

/*# sourceMappingURL=main.css.map */
