*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*mobile first*/

h2{
    text-align: center;
}

header{
    text-align: center;
    font-size: 50px;
    border: 5px black solid;
    display: grid;
    justify-content: center;
    grid-area: header;
    background-color: black;
}
main{
    background-color: lightgray;
    grid-area: main;
}
.titulo{
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 50px;
    border: 5px black solid;
    background-image: linear-gradient (to left, grey, white);
}
.title{
    text-align: center;
    font-size: 50px;
    border: 5px black solid;
    color: white;
}

.cartel{
    width: 100%;
    display: grid;
    justify-content: center;
}

p {
    font-size: 30px;
    color: black;
    border: 5px black solid;
    text-align: center;
    margin-bottom: 1px;
}

footer{
    background-color: grey;
    font-size: 30px;
    grid-area: footer;
    margin-bottom: 0px;
    width: 1000px;
    text-align: center;
 }
 

 .formulario{
     padding-left: 10px;
     font-size: 20px;
     text-align: justify;
 }

.grillaGeneral {
    grid-template-columns: repeat(2, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "footer footer"
;
}

.grillaCarrito {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
;
}
.grillaProductos {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "header header header"
;
}
.grillaNosotros {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
;
}
.grillaContacto {
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
;
}
/* lo adapto a los tamaños*/

@media screen and (max-width: 500px){

    .grillaGeneral {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header"
        "titulo titulo"
        "main  main"
        "footer footer"
        ;
    }
    
}
.cartel{
    justify-content: center;
}



@media screen and (max-width: 500px){

    .grillaGeneral {
        display: grid;
        margin-bottom: 1,5em;
        grid-template-columns: 3fr;
        gap: 2px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer"
        ;
    }
}
